#Header{
  top: 0;
  position: sticky;
  z-index: 1;
}
#navbar{
  background-color: teal;
  color: white;
}
h3.Headings{
  color: teal!important;
}
.statusBadge{
  margin-bottom: 5px;
  width: 100%;
  }
h4.Headings{
  color: blue;
}
#toggleButton.navbar-toggler-icon {
  margin-left: auto;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important; 
}
.slide{
  z-index: -1!important;
}
.underlined{
  text-decoration: underline;
}
.navbar-toggler {
  border-color: rgb(36, 36, 34);
  border-radius: 5px;
  border-width: 2px;
} 
#collapseableMenu{
  text-align: center;
  margin-right: 10px
}
.carousel-inner{
  height: fit-content;
  z-index: -1;
}
#Membership{
  box-shadow: 5px 5px rgb(102, 189, 247);
  height: 350px;
  border-radius:10px;
  border-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  padding: 5px;
}
.Footer{
  background-color: teal
}
.MembershipPrice{
  color: green;
}
#Login{
margin-left: auto;
}
.page-enter{
  opacity: 0.1;
  transform: translateX(-100%);
}
.page-enter-active{
  opacity: 1;
  transform: translate(0%);
  transition: all 500ms ease-in;
}
.page-exit{
  opacity: 1;
  transform: translateX(0%);
}
.page-exit-active{
  opacity: 0.5;
  transform: translateX(100%);
  transition: all 500ms ease-out;
}
.TBI{ 
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  height: 100%;
  width: 100%;
  color: white;
}

.translucent{
  margin-top: 5px;
  box-shadow: 5px 5px blue;
  border-radius: 10px;
  padding: 20px;
  background-color:rgba(5, 102, 73, 0.404);
  height: 100%;
    display: flex;
    /* align-content: center; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
 
}
.LoginImage{
  border-radius: 10px;
  margin-top: 5px;
  width: -webkit-fill-available;
  width: -moz-available;
  content: url(http://localhost:3000/SideLogin.jpg);
}
#Logo{
  transform: scale(4);
  padding: 0px;
  margin-left: 1%;
  
}
@media screen and (min-width: 980px){
  #Logo{
    transform: scale(4.8);
    padding: 0px;
    margin-right: 3%;
    margin-left: 1%;
  } 
}
.toggleOptions{
  display: block;
}
.NavOptions{
  margin-left: 2px;
  width: -webkit-fill-available;
  width: -moz-available;
}
.Listing{
  margin-bottom: 5px;
  font-family: sans-serif;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 5px 10px grey;
  background-color: rgba(5, 102, 73, 0.404);
}
#search{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  border-radius: 10px;
  background-color: #dee2e6;
  ;
  margin-bottom: 5px;
 }
.searchInput{
  border-radius: 5px;
  width: 25%;
}
@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 20px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}
.statusBadge {
  animation: glowing 1300ms infinite;
}
.bottomRight{
  position: absolute;
  bottom: 7%;
  right: 5px;
}
.displayButton{
  display: contents;
  align-self: flex-start;
  margin-right: 20px;
}
.gridButton{
  float: right;
  font-size: x-small;
}
.breadCrumbs{
  
  position: sticky;
  top: 42pt;
  z-index: 1;
  /* background-color: #f47a60; */
  background-color: teal;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0px 0px 10px 10px;
  margin-left: auto;
  margin-right: auto;

}
.BreadCrumbItem {
  color: white;
  text-decoration: unset;
}
.FormContainer{
  border-radius: 5px;
  padding: 5px;
  color: black;
  background-color:rgba(5, 102, 73, 0.514);
  margin-bottom: 10px;
  text-align: center;
  margin-top: 10px;

}
.expanded{
  width: -webkit-fill-available;
  width: -moz-available;
}
.transButton{
  background-color: transparent;
  border: 0px;
}
@media screen and (max-width:400px) {
  .breadCrumbs{
    font-size: 9pt;
  }
}
.expanded{
  width: 100%;
  text-align: center;

}
.modal-content{
  box-shadow: 5px 5px rgb(102, 189, 247);
  /* background-color: rgb(43, 121, 121); */
  /* color: white; */
}
.inputBlack{
  color: black;
}

.Auccards{
  border-radius: 10px;
}
body{
  background-color: whitesmoke;
}

#registerAuctionButton{
  float: right;
  background: url("http://localhost:3000/buttonBg.png") no-repeat scroll 0 0 transparent;
  background-position: center;
  height: 63px;
  background-size: 159px;
  color: white;
  border: 0px;
  padding: 20px;
  margin: 5px;
}

#registerAuctionButton:hover{
  opacity: 0.5;
}

.ddButton{
  background-color: white;
  z-index: 1;
  box-shadow: 3px 3px blue;
}

#bidID{
  text-align: center;
  margin: 5px;
}

#timer-right{
  text-align: right;
  margin: 5px;
  font-size: larger;
}

#timer-float{
  float: right;
  margin: 5px;
  font-size: larger;
}
.splash{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: teal;
  color: white;
}
.display-none{
  display: none;
}
@keyframes fadein{
  to{
    transform: scale(2);
    opacity: 1;
   
  }
 
}
@keyframes mymove {
  0%   {transform: translateX(0px);}
  50%  {transform: translateX(60px);}
  100%  {transform: translateX(0px);}
}
.fadein{
  
  opacity: 0;
  animation: fadein 2s ease-in;
}
.Splashlogo{
    transform: rotate(0deg);
  opacity: 0;
  width: 30vh;
  height: 20vh;
  animation: fadein 3s ease-in-out;
  transform: scale(1.5);
  content: url("/public/LogoAlpha1.png");
}
.dot {
  height: 15px;
  width: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  animation: mymove 1s infinite ;
}
.loading{
  border-radius: 5px;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  color: transparent;
  align-items: center;
  text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
  width: 75px;
  height: 20px;
  background-color: gray;
}
.carousel {
  margin-top: -50px;
  position: relative;
}
.featureHead{
  background-color: rgba(19, 192, 33, 0.842);
  color: white;
  position: absolute;
  border-radius:5px ;
}